.mainfeedWrapper {
  /* margin-left: 2rem; */
  background-color: #E9E9E9;
  width: 40rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 5rem;
  margin-right: 12rem;
}
