.navBarWrapper {
  display: flex;
  align-items: center;
  padding-top: 0.4rem;
  margin-left: 18%;
  margin-right: 18%;
  justify-content: space-around;
  padding-bottom: 1rem;

}

.navBarIcons {
  display: flex;
  gap: 2rem;
}

.navBarSearchWrapper {
 display: flex;

}

#navBarSearch {
  height: 2rem;
}

.navAddButton {
  background-color: rgb(168, 39, 35);
  color: white;
  border-radius: 16px;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  border: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
