.sidebarWrapper {
  background-color: #E9E9E9;
  width: 9rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.spaceWrapper {
  text-decoration: none;
  color: rgb(88, 88, 88);

}

#sideCreateSpace {
  margin-bottom: 1rem;
}
